<!DOCTYPE html>
<html ng-app='toy-app'>
  <head>
    <meta charset="utf-8">
    <title>Angular Toy App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body ng-style="{color: color, 'background-color': bgColor}" ng-controller="BodyCtrl">
    <div class="top">
      <h1>{{ 'I like big buttons and I cannot lie' }}</h1>
    </div>
    <div class="left-col buttons">
      <h3>Text Color</h3>
      <toy-button
      color="color"
      color-type="'text'"
      on-click="changeColor(color)"
      ng-repeat="color in colors">
    </toy-button>
    </div>
    <div class="middle-col buttons">
      <h3>Background Color</h3>
      <toy-button
      ng-repeat="color in colors"
      color="color"
      color-type="'background'"
      on-click="changeColor(color)" />
    </toy-button>
    </div>
    <div class="right-col buttons">
      <h3>Both Colors</h3>
      <div class="text-box" ng-init="color='white'; bgColor='black'">
        <p>Current colors: {{ color }} on {{ bgColor }}</p>
      </div>
      <button ng-click="randomColors()">Randomize!</button>
      <button ng-click="toggleAutoChange()">
        {{ isAutoChanging() ? 'Stop' : 'Start' }} Auto Change
      </button>
    </div>
  </body>
</html>
