body {
  height: 98vh;
  margin: 1vh 5vw;
  transition: background-color 3s, color 3s;
  width: 90vw;
}
button {
  background-color: darkgrey;
  display: block;
  font-size: 24px;
  height: 6vh;
  width: 300px;
  margin: 2vh 0;
}
.top {
  height: 16vh;
}
.buttons {
  position: absolute;
  top: 50px;
}
.left-col { left: 5vw; }
.middle-col { left: 35vw; }
.right-col { left: 65vw; }

.text-box {
  color: black !important;
  background-color: white !important;
}
